[id*=_metrics]{
	text-transform:capitalize;
}

form.horizontal{
	
}

form.horizontal label{
	float: left;
	margin-right: 10px;
}

.datepick, select{
	width:130px;
}

input[type=text],input[type=submit]{
	/*vertical-align: top;*/
}
input[type=text].mini{
	width:50px
}