{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
$(function () {
	$('.datepick').datepicker({ dateFormat: "dd/mm/yy" });
		$('#container').highcharts({
	          chart: {
	              type: 'area'
	          },
	          title: {
	              text: 'CFD Chart'
	          },
	          subtitle: {
	              text: 'Cummulative flow diagram'
	          },
	          xAxis: {
	              categories: {% firstof graph_data.3 '[]' %},
	              tickmarkPlacement: 'on',
	              title: {
	                  enabled: false
	              }
	          },
	          yAxis: {
	              title: {
	                  text: 'Percent'
	              }
	          },
	          tooltip: {
	              pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} Stories)<br/>',
	              shared: true
	          },
	          plotOptions: {
	              area: {
	                  stacking: 'percent',
	                  lineColor: '#ffffff',
	                  lineWidth: 1,
	                  marker: {
	                      lineWidth: 1,
	                      lineColor: '#ffffff'
	                  }
	              }
	          },
	          series: [{
	              name: 'To do',
	              data: {% firstof graph_data.0 '[]' %}
	          }, {
	              name: 'In progress',
	              data: {% firstof graph_data.1 '[]' %}
	          }, {
	              name: 'Done',
	              data: {% firstof graph_data.2 '[]' %}
	          }]
	      });        
    });
    
</script>
{% endblock %}

{% block upper_content %}

<form method="post" action="." class='horizontal'>
		{% csrf_token %}
		
		<label for="start_datepick">Start date:
		<input id="start_datepick" name="start_datepick" type="text" class="datepick" value="{{posted.0}}" />
		</label>
		
		<label for="end_datepick">End date:
		<input id="end_datepick" name="end_datepick" type="text" class="datepick"  value="{{posted.1}}" />
		</label>
		
		<label for="team">Team:
			<select id="team" name="team">
				<option {% if posted.2 == "ALL" %}selected='selected'{% endif %} value="ALL">ALL</option>
				<option {% if posted.2 == "SPARTA" %}selected='selected'{% endif %} value="SPARTA">SPARTA</option>
				<option {% if posted.2 == "DRIVE" %}selected='selected'{% endif %} value="DRIVE">DRIVE</option>
				<option {% if posted.2 == "KOALA" %}selected='selected'{% endif %} value="KOALA">KOALA</option>
				<option {% if posted.2 == "BARCELONA" %}selected='selected'{% endif %} value="BARCELONA">BARCELONA</option>
				<option {% if posted.2 == "ICATU" %}selected='selected'{% endif %} value="ICATU">ICATU</option>
				<option {% if posted.2 == "JOHN_DEERE" %}selected='selected'{% endif %} value="JOHN_DEERE">JOHN DEERE</option>
			</select>
		</label>
		<input type="submit" class="btn btn-success">
</form>
	
<hr />
	
<div id="container"></div>		
	
{% endblock %}

