{% extends "base.html" %}

{% block extrahead %}

<script type="text/javascript">
$(function () {
	$( ".tabs" ).tabs();
	
	$.get('/api/snapshots/teams/', function(data) {
		  teams = data.teams;
		  
		  // team iteration and content preparation
		  $.each(teams, function(i,v){
			  
			  team = v.toLowerCase();
			  console.log('# '+team);
			  $('#teams_status').append('<div id="'+team+'_metrics">');
			  $('#'+team+'_metrics').append('<h2>'+team+'</h2>');
			  $('#'+team+'_metrics').append('<table class="table table-striped" id="done_items"><thead><th>Date</th><th>Services</th><th>Title</th></thead><tbody></tbody></table>');
			  
			  $.get('/api/snapshots/stories/?global_status=DONE&team='+team, function(data) {
				
				  $.each(data, function(key, value){
					  global_status = key.toLowerCase();
					  
					  $.each(value, function(item_key, item_value){
						  //global_status
						  team = item_value['team'];
						  date = item_value['date'];
						  title = item_value['title'];
						  services = item_value['services'];
						  
						  console.log("#"+team.toLowerCase()+"_metrics");
						  console.log('#'+global_status+'_items');
						  
						  $("#"+team.toLowerCase()+"_metrics").children('#'+global_status+'_items').children('tbody').append('<tr><td>'+date+'</td><td class="services">'+services+'</td><td>'+title+'</td></tr>');
					  });
					    
				  });
				  
			  }).promise().done(function(){
				  
			        alert = [];
			        autocomplete=[];
			        chemistry=[];
			        exportService = [];
			        investex = [];
			        exportSearch = [];
			        ontology=[];
			        retrieve=[];
			        regulatory = [];
			        search = [];
			        tiWrapper = [];
			        api = [];
			        gui = [];
			        
			        $.each(teams, function(i, team){
				        valert = 0;
				        vautocomplete=0;
				        vchemistry=0;
				        vexportService = 0;
				        vinvestex = 0;
				        vexportSearch = 0;
				        vontology=0;
				        vretrieve=0;
				        vregulatory = 0;
				        vsearch = 0;
				        vtiWrapper = 0;
				        vapi = 0;
				        vgui = 0;

				        team = team.toLowerCase();
			        	
			        	$('#'+team+'_metrics').children('table').children('tbody').children().children('.services').each(function(){
			        		services = $(this).text().toLowerCase().split(',');
			        		if (services.indexOf('alert')>=0){
			        			valert++;
			        		}
							if (services.indexOf('autocomplete')>=0){
			        			vautocomplete++;
			        		}
							if (services.indexOf('chemistry')>=0){
			        			vchemistry++;
			        		}
							if (services.indexOf('export')>=0){
			        			vexportService++;
			        		}
							if (services.indexOf('investex')>=0){
			        			vinvestex++;
			        		}
							if (services.indexOf('exportsearch')>=0){
			        			vexportSearch++;
			        		}
							if (services.indexOf('ontology')>=0){
			        			vontology++;
			        		}
							if (services.indexOf('retrieve')>=0){
			        			vretrieve++;
			        		}
							if (services.indexOf('regulatory')>=0){
			        			vregulatory++;
			        		}
							if (services.indexOf('search')>=0){
			        			vsearch++;
			        		}
							if (services.indexOf('tiwrapper')>=0){
			        			vtiWrapper++;
			        		}
							if (services.indexOf('api')>=0){
			        			vapi++;
			        		}
							if (services.indexOf('gui')>=0){
			        			vgui++;
			        		}
			        	});
			        	
			        	alert.push(valert);
			        	autocomplete.push(vautocomplete);
			        	chemistry.push(vchemistry);
			        	exportService.push(vexportService);
			        	investex.push(vinvestex);
			        	exportSearch.push(vexportSearch);
			        	ontology.push(vontology);
			        	retrieve.push(vretrieve);
			        	regulatory.push(vregulatory);
			        	search.push(vsearch);
			        	tiWrapper.push(vtiWrapper);
			        	api.push(vapi);
			        	gui.push(vgui);
			        })
			        
			        
				    $('#done_chart').highcharts({
				        chart: {
				            type: 'bar'
				        },
				        title: {
				            text: 'Done tasks by Service'
				        },
				        subtitle: {
				            text: ''
				        },
				        xAxis: {
				            categories: teams,
				            title: {
				                text: null
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'Total stories',
				                align: 'high'
				            },
				            labels: {
				                overflow: 'justify'
				            }
				        },
				        tooltip: {
				            valueSuffix: ' stories'
				        },
				        plotOptions: {
			        	   series: {
			                    stacking: 'normal'
			                }
				        },
				        legend: {
				            layout: 'vertical',
				            align: 'right',
				            verticalAlign: 'top',
				            x: -100,
				            y: 100,
				            floating: true,
				            borderWidth: 1,
				            backgroundColor: '#FFFFFF',
				            shadow: true
				        },
				        credits: {
				            enabled: false
				        },
				        
				        series: [{
				            name: 'Alert',
				            data: alert
				        }, {
				            name: 'API',
				            data: api
				        },{
				            name: 'Autocomplete',
				            data: autocomplete
				        }, {
				            name: 'Chemistry',
				            data: chemistry
				        }, {
				            name: 'Export',
				            data: exportService
				        }, {
				            name: 'GUI',
				            data: gui
				        }, {
				            name: 'Investex',
				            data: investex
				        }, {
				            name: 'Export Search',
				            data: exportSearch
				        }, {
				            name: 'Ontology',
				            data: ontology
				        }, {
				            name: 'Retrieve',
				            data: retrieve
				        }, {
				            name: 'Regulatory',
				            data: regulatory
				        }, {
				            name: 'Search',
				            data: search
				        }, {
				            name: 'TI Wrapper',
				            data: tiWrapper
				        }]
				    });								  
				  
			  });				  
		  });
		  
	});
	
});
</script>
{% endblock %}

{% block upper_content %}
   <div id="done_chart"></div>

   <div id='teams_status'>
   </div>
{% endblock %}

{% block content %}
<!-- 
    <div class="span4">
      <h2>User Reports</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details</a></p>
    </div>
    <div class="span4">
      <h2>Real Time</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details</a></p>
   </div>
    <div class="span4">
      <h2>Jira Sync</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn" href="#">View details</a></p>
    </div> -->
{% endblock %}